.chess-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#moveInfo {
    margin-left: 410px;
}

#chessboard {
    border-collapse: collapse;
}

    #chessboard .square {
        width: 60px;
        height: 60px;
        text-align: center;
        vertical-align: middle;
    }

    #chessboard .light {
        background-color: #f0d9b5;
    }

    #chessboard .dark {
        background-color: #b58863;
    }

    #chessboard img {
        width: 100%;
        height: 100%;
    }
.highlighted {
    outline: 3px solid lightblue;
    background-color: lightskyblue !important;
}
.enemy {
    outline: 3px solid lightcoral;
    background-color: red !important;
}

.highlightPiece {
    background-color: dimgrey;
}

#White_Promotion {
    display: none;
    z-index: 100;
    background-color: black;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: ease-in 0.3s;
    border: #f0d9b5;
    border-radius: 4px;
    height: 100px;
    width: 100px;
}

#promotion {
    height: 50px;
    width: 50px;
}