
.chess-container {
    display: flex;
    justify-content: center;
    margin-top: 2vh;
}

#moveInfo {
    margin-left: 54vh;
    margin-right: auto;
}

#chessboard {
    border-collapse: collapse;
    width: 480px;
    height: 480px;
}

    #chessboard .square {
        width: 60px;
        height: 60px;
        text-align: center;
        vertical-align: middle;
    }

    #chessboard .light {
        background-color: #f0d9b5;
    }

    #chessboard .dark {
        background-color: #b58863;
    }

    #chessboard img {
        width: 100%;
        height: 100%;
    }
.highlighted {
    outline: 3px solid lightblue;
    background-color: lightskyblue !important;
}
.enemy {
    background-color: red !important;
}

.special {
    background-color: greenyellow !important;
}

.highlightPiece {
    background-color: dimgrey;
}

#White_Promotion {
    display: none;
    width: 50vh;
    height: 15vh;
    z-index: 100;
    background-color: black;
    position: fixed;
    width: 25vw;
    top: 200px;
    left: 400px;
    right: 0;
    bottom: 400px;
    transition: ease-in 0.3s;
    border: #f0d9b5;
    border-radius: 4px;
}

#Black_Promotion {
    display: none;
    width: 50vh;
    height: 15vh;
    z-index: 100;
    background-color: black;
    position: fixed;
    width: 25vw;
    top: 200px;
    left: 400px;
    right: 0;
    bottom: 400px;
    transition: ease-in 0.3s;
    border: #f0d9b5;
    border-radius: 4px;
}

.box {
    height: 14.5vh;
    width: 13vh;
    background-color: #f0d9b5;
    border: 3px solid black;
}

#promotion {
    width: 100%;
    height: 100%;
}

#victory-B {
    position: fixed;
    display: none;
    background-color: #141414;
    border: black 2px solid;
    border-radius: 8px;
    height: 45vh;
    width: 25vw;
    top: 200px;
    left: 400px;
    right: 0;
    bottom: 400px;
    z-index: 998;
}

#victory-B p {
    text-transform: uppercase;
    background-color: gray;
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
    color: white;
}

.refresh {
    border: white 2px;
    background-color: limegreen;
    color: white;
    font-weight: bold;
    border-radius: 1vh;
    height: 8vh;
    width: 17vh;
    margin-left: 1vh;
    margin-top: 25vh;
    display: inline-block;
}
.close {
    border: white 2px;
    background-color: limegreen;
    color: white;
    font-weight: bold;
    border-radius: 1vh;
    height: 8vh;
    width: 17vh;
    margin-left: 14vh;
    margin-top: 27vh;
    display: inline-block;
}

#victory-W {
    position: fixed;
    display: none;
    background-color: #141414;
    border: black 2px solid;
    border-radius: 8px;
    height: 45vh;
    width: 25vw;
    top: 200px;
    left: 400px;
    right: 0;
    bottom: 400px;
    z-index: 998;
}

#victory-W p {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
    color: white;
    background-color: gray;
}


