.chess-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#chessboard {
    border-collapse: collapse;
}

    #chessboard .square {
        width: 60px;
        height: 60px;
        text-align: center;
        vertical-align: middle;
    }

    #chessboard .light {
        background-color: #f0d9b5;
    }

    #chessboard .dark {
        background-color: #b58863;
    }

    #chessboard img {
        width: 100%;
        height: 100%;
    }
.highlighted {
    outline: 3px solid yellow;
    background-color: #ffeb3b !important;
}

.highlightPiece {
    background-color: dimgrey;
}
