
.chess-container {
    display: flex;
    justify-content: center;
    margin-top: 2vh;
}

#moveInfo {
    margin: 0;
    display: flex;
    justify-content: center; 
    align-items: center;
}

#chessboard {
    border-collapse: collapse;
    width: 480px;
    height: 480px;
}

    #chessboard .square {
        width: 60px;
        height: 60px;
        text-align: center;
        vertical-align: middle;
    }

    #chessboard .light {
        background-color: #f0d9b5;
    }

    #chessboard .dark {
        background-color: #b58863;
    }

    #chessboard img {
        width: 100%;
        height: 100%;
    }
.highlighted {
    outline: 3px solid lightblue;
    background-color: lightskyblue !important;
}
.enemy {
    background-color: red !important;
}

.special {
    background-color: greenyellow !important;
}

.highlightPiece {
    background-color: dimgrey !important;
}

#White_Promotion {
    display: none;
    justify-content: center;
    align-items: center;
    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: clamp(280px, 30vw, 400px);
    height: clamp(80px, 12vh, 220px);

    z-index: 999;
    background-color: black;
    border: #f0d9b5;
    border-radius: 4px;
}

#White_Promotion img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#Black_Promotion img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#Black_Promotion {
    display: none;
    justify-content: center;
    align-items: center;
    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: clamp(280px, 30vw, 400px);
    height: clamp(80px, 12vh, 220px);

    z-index: 999;
    background-color: black;
    border: #f0d9b5;
    border-radius: 4px;
}

.box {
    height: 11vh;
    width: 13vh;
    background-color: #f0d9b5;
    border: 3px solid black;
}

#promotion {
    width: 100%;
    height: 100%;
}

#victory-B {
    position: fixed;
    display: none;
    background-color: #141414;
    border: black 2px solid;
    border-radius: 8px;
    height: 45vh;
    width: 25vw;
    justify-content: center;
    align-items: center;
    top: 30%;
    left: 37%;
    z-index: 999;
}

#victory-B p {
    text-transform: uppercase;
    background-color: gray;
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
    color: white;
}

.refresh {
    border: white 2px;
    background-color: limegreen;
    color: white;
    font-weight: bold;
    border-radius: 1vh;
    height: 8vh;
    width: 17vh;
    margin-left: 1vh;
    margin-top: 25vh;
    display: inline-block;
}
.close {
    border: white 2px;
    background-color: limegreen;
    color: white;
    font-weight: bold;
    border-radius: 1vh;
    height: 8vh;
    width: 17vh;
    margin-left: 14vh;
    margin-top: 27vh;
    display: inline-block;
}

#victory-W {
    position: fixed;
    display: none;
    background-color: #141414;
    border: black 2px solid;
    border-radius: 8px;
    height: 45vh;
    width: 25vw;
    top: 30%;
    left: 37%;
    z-index: 999;
}

#victory-W p {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
    color: white;
    background-color: gray;
}

.overlay {
    position: fixed;
    inset: 0;                  /* covers full viewport */
    background: rgba(0, 0, 0, 0.6); /* dim background (optional) */
    z-index: 999;

    justify-content: center;
    align-items: center;

    pointer-events: all;       /* blocks clicks */
}
