@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/Chess.css">
    <script src="~/js/Pieces.js"></script>
    <script src="~/js/Move.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/FenManipulation.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<body>
    <div id="moveInfo">
        <table id="chessboard">
            @{
                string[,]? initialBoard = new string[8, 8]
                {
                        { "BR", "BN", "BB", "BQ", "BK", "BB", "BN", "BR" },
                        { "BP", "BP", "BP", "BP", "BP", "BP", "BP", "BP" },
                        { "", "", "", "", "", "", "", "" },
                        { "", "", "", "", "", "", "", "" },
                        { "", "", "", "", "", "", "", "" },
                        { "", "", "", "", "", "", "", "" },
                        { "WP", "WP", "WP", "WP", "WP", "WP", "WP", "WP" },
                        { "WR", "WN", "WB", "WQ", "WK", "WB", "WN", "WR" }
                };
            }

            @for (int row = 1; row <= 8; row++)
            {
                <tr>
                    @for (int col = 1; col <= 8; col++)
                    {
                        string? squareColor = (row + col) % 2 == 0 ? "light" : "dark";
                        string? piece = initialBoard[row - 1, col - 1];
                        
                        <td class="square @squareColor clickable-element hover" data-piece="@piece" data-row="@row" data-col="@col" onclick="play(this)">
                            @if (!string.IsNullOrEmpty(piece))
                            {
                                <img src="~/Images/@(piece).png" alt="@piece" />
                            }
                        </td>
                    }
                </tr>
            }
        </table>
    </div>
    <div id="victory-B">
        <p class="victory">BLACK HAS WON</p>
        <button class="refresh" type="submit" onclick="refreshed()">Play Again</button>
        <button class="close" type="submit" onclick="close_B()">Back</button>
    </div>
    <div id="victory-W">
        <p class="victory">WHITE HAS WON</p>
        <button class="refresh" type="submit" onclick="refreshed()">Play Again</button>
        <button class="close" type="submit" onclick="close_W()">Back</button>
    </div>

    <button id="Promotion" type="button" onclick="Promotion()">Toggle</button>

    <div id="White_Promotion" name="White_Promotion">
        <table>
            <tr>
                <td class="box" onclick=""><img id="promotion" src="~/Images/WQ.png" alt="WQ" /></td>
                <td class="box"><img id="promotion" src="~/Images/WR.png" alt="WR" /></td>
                <td class="box"><img id="promotion" src="~/Images/WK.png" alt="WK" /></td>
                <td class="box"><img id="promotion" src="~/Images/WB.png" alt="WB" /></td>
            </tr>
        </table>
    </div>

    <div id="Black_Promotion" name="Black_Promotion" hidden>
        <div>
            <button value="BQ"><img src="~/Images/BQ.png" alt="BQ" /></button>
            <button value="BR"><img src="~/Images/BR.png" alt="BR" /></button>
            <button value="BK"><img src="~/Images/BK.png" alt="BK" /></button>
            <button value="BB"><img src="~/Images/BB.png" alt="BB" /></button>
        </div>
        
    </div>
</body>